
<div class="modal-header" style="background-color:lightblue">
    <h5 class="modal-title">Forgot Password</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">



    <label>Enter  Email Associated With Your Account</label>
    <input type="email" class="form-control" id="UserEmail" placeholder="Email..." onkeyup="event.keyCode === 13 ? TennisCourtBookingApp.Common.SubmitEmail() : null" />


</div>
<div class="mx-2">
    <button type="button" class="btn btn-primary" onclick="TennisCourtBookingApp.Common.SubmitEmail()" id="smtButton">Submit</button>
</div>
<div class="preloader" style="display: none;">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
</div>

<div class="modal-footer" style="background-color:lightblue">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

</div>
